{% extends "blog/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 class="blog-post-title">{{post.title}}</h1>
<p><a href="{% url 'user-posts' post.author.username %}"> <img class="rounded-circle" src="{{post.author.profile.image.url}}" width="35" height="30"> {{post.author}}</a> |
    {{post.date_posted}}</p>
{% if post.author == user %}
<a href="{% url 'post-update' post.id %}"><button class="btn btn-outline-success mx-1 mr-3">Edit</button></a>
<a href="{% url 'post-delete' post.id %}"><button class="btn btn-outline-success mx-1 mr-3">Delete</button></a>
{% endif %}
<p>{{post.content}}</p>
</form>
<hr>

{% endblock content%}